
*{

}

body{
    background-color: rgb(154, 242, 245);
    font-size: 16px;
    color: black;
}

header{
    background-color: rgb(178, 250, 120);
    color: rgb(9, 48, 224);
    height: 6em;
}

header h1{
    text-align: center;
}

img{
    width: 400px;
    border-radius: 18px;
}

main{
    background-color: rgb(139, 224, 27);
}