
*{

}

body{
    background-color: rgb(217, 252, 253);
    font-size: 16px;
    color: black;
}

heade{
    background-color: rgb(216, 31, 62);
    color: rgb(43, 70, 187);
    height: 6em;
}

header h1{
    text-align: center;
}

img{
    width: 400px;
}