
*{

}

body{
    background-color: rgb(133, 228, 231);
    font-size: 16px;
    color: black;
}

heade{
    background-color: rgb(1, 4, 7);
    color: rgb(197, 209, 29);
    height: 6em;
}

header h1{
    text-align: center;
}